.content-color {
    color: #909090;
}

.white {
    color: white;
}

.button {
    width: 191px;
    height: 56px;
    border: #FFFFFF 1px solid;
    border-radius: 8px;
    padding: 15px 56px 16px 56px;
}

.btn-black {
    border: #000000 1px solid;
}

.sale-btn {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.column-direction {
    flex-direction: column;
}

.hidden {
    display: none;
}

.block-w6 {
    width: 50%;
}

.block-w3 {
    width: 25%;
}

.block-h6 {
    height: 50%;
}

.block-h3 {
    height: 25%;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-light-gray {
    background-color: #F9F9F9;
}

.bg-gray {
    background-color: #EAEAEA;
}

.bg-dark-gray {
    background-color: #2C2C2C;
}

.even-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
